@import "tailwindcss";
/* @source "../../node_modules/.deno/@jakobsaadbye+teilen-sql@1.0.16/node_modules/@jakobsaadbye/teilen-sql/src/react/"; */
@source "../../../../teilen-sql/src/react/";

@theme {
    --color-gray-100: #ececec;
    --animate-spin-reverse: spin-reverse 1.0s linear infinite;

    @keyframes spin-reverse {
        to {
            transform: rotate(-360deg);
        }
    }
}
