@import "tailwindcss";
/* @source "../../node_modules/.deno/@jakobsaadbye+teilen-sql@1.0.16/node_modules/@jakobsaadbye/teilen-sql/src/react/"; */
@source "../../../../teilen-sql/src/react/";

@theme {
    /* --color-gray-100: #ececec; */
    --color-gray-50: #f4f5f5;
    --color-gray-100: #f0f0f0;
    --color-gray-200: #e5e7eb;
    --color-gray-250: #d8dce3;
    --color-gray-300: #d1d5dc;
    --animate-spin-reverse: spin-reverse 1.0s linear infinite;
    --animate-flash: flash 0.3s ease-in-out;

    @keyframes spin-reverse {
        to {
            transform: rotate(-360deg);
        }
    }

    @keyframes flash {
        from {
            background-color: #d1d5dc;
        }
        to {
            background-color: #e5e7eb;
        }
    }
}
